<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867770650232-jglesp5erqa2ratqkv5o0f1qd0p2fuu2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867770650232-jglesp5erqa2ratqkv5o0f1qd0p2fuu2</string>
	<key>API_KEY</key>
	<string>AIzaSyACp15ts625qbU7Wg23McUn7mttnbmiSZk</string>
	<key>GCM_SENDER_ID</key>
	<string>867770650232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.friendzy</string>
	<key>PROJECT_ID</key>
	<string>friendzy-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>friendzy-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867770650232:ios:325039ef2a6f48864ee78d</string>
</dict>
</plist>